.button {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: var(--spacing-200);
  width: 100%;
  padding: var(--spacing-200);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0;
  text-align: start;
  color: var(--text-color);
  background-color: var(--button-background);
  border: 3px solid var(--button-background);
  border-radius: 12px;
  box-shadow: var(--shadow);
  transition: border-color 0.2s;
}

.button:focus-visible {
  outline: 3px dashed var(--purple-600);
  outline-offset: 4px;
}

button[disabled] {
  pointer-events: none;
}

.letter {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: var(--gray-500);
  border-radius: 6px;
  background-color: var(--gray-50);
  transition:
    color 0.2s,
    background-color 0.2s;
}

.title {
  flex-grow: 1;
}

.icon {
  position: relative;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
}

.iconCheck {
  background-image: url('../../assets/images/icon-correct.svg');
}

.iconError {
  background-image: url('../../assets/images/icon-error.svg');
}

.iconCheck,
.iconError {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0.2s,
    opacity 0.2s;
}

.selected .iconCheck {
  visibility: visible;
  opacity: 1;
}

.isCorrected {
  border-color: var(--green-500);
}

.isCorrected .letter {
  color: var(--white);
  background-color: var(--green-500);
}

.isCorrected .iconCheck {
  visibility: visible;
  opacity: 1;
}

.isError {
  border-color: var(--red-500);
}

.isError .letter {
  color: var(--white);
  background-color: var(--red-500);
}

.isError .iconError {
  visibility: visible;
  opacity: 1;
}

.isError .iconCheck {
  visibility: hidden;
  opacity: 0;
}

@media (hover: hover) {
  .button:hover {
    border-color: var(--purple-600);
  }

  .button:hover .letter {
    background-color: var(--purple-600);
    color: var(--white);
  }
}

@media (min-width: 768px) {
  .button {
    font-size: 28px;
    column-gap: var(--spacing-400);
    border-radius: 24px;
  }

  .letter {
    width: 56px;
    height: 56px;
  }

  .icon {
    width: 40px;
    height: 40px;
  }

  .iconCheck,
  .iconError {
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 1024px) {
  .button {
    padding: var(--spacing-300);
  }
}
