@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('./variables.css');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: var(--font-family);
  font-weight: 500;
  background-image: url('../assets/images/pattern-background-mobile-light.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background);
  color: var(--text-color);
  transition:
    background 0.2s,
    color 0.2s;
}

body.dark {
  background-image: url('../assets/images/pattern-background-mobile-dark.svg');
}

button {
  cursor: pointer;
}

#html {
  background-color: var(--orange-50);
}

#css {
  background-color: var(--green-50);
}

#javascript {
  background-color: var(--blue-50);
}

#accessibility {
  background-color: var(--purple-100);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
  margin: 0 auto;
}

@media (min-width: 768px) {
  body {
    background-image: url('../assets/images/pattern-background-tablet-light.svg');
    background-position: top left;
    background-size: 50%;
  }

  body.dark {
    background-image: url('../assets/images/pattern-background-tablet-dark.svg');
  }
}

@media (min-width: 1024px) {
  body {
    background-image: url('../assets/images/pattern-background-desktop-light.svg');
    background-size: cover;
  }

  body.dark {
    background-image: url('../assets/images/pattern-background-desktop-dark.svg');
  }
}
